.feature-box {
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    transition: transform .3s;
    &__icon {
      font-size: 6rem;
      margin-bottom: 0.5rem;
      padding-top: 0.5rem;
    
      -webkit-background-clip: text;
      color: #0b65a0bd;
    }

    &__text {
      font-size: $default-font-size;
      margin-bottom: 0;
    }
  
    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
  }
  
.feature-box2 {
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    transition: transform .3s;
    &__icon {
      font-size: 6rem;
      margin-bottom: 0.5rem;
      padding-top: 0.5rem;
    
      -webkit-background-clip: text;
      color: #0b65a0bd;
    }

    &__text {
      font-size: $default-font-size;
      margin-bottom: 0;
    }
  
    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
  }
  