body {
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  font-family: $feature-font;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s;
    margin-bottom: 6rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-family: $feature-font;

  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  letter-spacing: 2px;
  transition: all ease 0.2s;
  color: transparent;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 20px rgba($color-black, 0.2);
  }
}


.heading-tertiary {
  font-size: $default-font-size;
  font-family: $feature-font;
  margin-top: 0;

  margin-bottom: $default-font-size;
  font-weight: 800;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
